

body html {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
.backgroundimage{
    font-family: 'Hind';
    background-color: #000;
    color: #fff;
    background-image: url('../images/backgrounds/back8.jpg');
    background-position: center center;
    background-repeat: repeat-y ;
    background-size: cover;
    
    padding-top: 54px;
    height:100%;
    /*width:100%;*/
}

